.comtehno{
    background: rgba(0, 68, 61, 0.7);
}
.comtehno__title{
    font-size: 71rem;
    filter: blur(1rem);
    font-family: 'Lora';
    font-weight: 400;
    color: #fff;
    line-height: 60rem;
    text-align: end;
}